/* Whole Page */

body, header, html {
margin: 0px;
padding: 0px;
border: 0px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Header */

header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
  background-color: white;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.logo img {
   margin: 0 20px;
}


nav {
  margin: 0 80px 0 0;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}
nav a, a:visited, a:hover, a:active {
  color: black;
}

/* Main content */

main {
  display: flex;
  padding: 116px 20px 0 20px;
  justify-content: space-between;
}

main div{
  border: 1px solid black;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.column.large h1 {
  font-size: 40px;
}

h1, h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.img-main{
  display: flex;
  background-image: url(../images/img-story-main.png);
}

.img-1{
  display: flex;
  background-image: url(../images/img-story-1.png);
}

.img-2{
  display: flex;
  background-image: url(../images/img-story-2.png);
}

.img-3{
  display: flex;
  background-image: url(../images/img-story-3.png);
}
